[Bb]in/
[Oo]bj/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates
ReleasePackage/
Build_Output/
FinalBuild/
PetBuild/
publish_log.txt
build_err.txt
build_msg.txt
publish.log
msbuild.errors
*.exe
*.dll
*.pdb
*.msi
*.nupkg
.gemini/
